.attacker-icon {
    background: transparent url('/src/res/sword.png') 0 0 no-repeat;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;

    display: inline-block;
    height: 24px;
    width: 24px;
    position: relative;
}

.dead-icon {
    background: transparent url('/src/res/skull.png') 0 0 no-repeat;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;

    display: inline-block;
    height: 24px;
    width: 24px;
    position: relative;
}

.class-icon {
    /* is there a better way to reference the image? */
    background: transparent url('/src/res/class-icons.png') 0 0 no-repeat;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;

    /* margin-bottom: 0.5rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem; */
    margin: .25rem;

    display: inline-block;
    height: 54px;
    width: 54px;
    position: relative;
}

.class-feca {
    background-position: 0 0;
}
.class-osa {
    background-position: 0 -397px;
}
.class-enu {
    background-position: 0 -453px;
}
.class-sram {
    background-position: 0 -510px;
}
.class-xel {
    background-position: 0 -567px;
}
.class-eca {
    background-position: 0 -623px;
}
.class-eni {
    background-position: 0 -680px;
}
.class-iop {
    background-position: 0 -737px;
}
.class-cra {
    background-position: 0 -793px;
}
.class-sadi {
    background-position: 0 -57px;
}
.class-sacri {
    background-position: 0 -114px;
}
.class-panda {
    background-position: 0 -169px;
}
.class-rogue {
    background-position: 0 -227px;
}
.class-masq {
    background-position: 0 -284px;
}
.class-fog {
    background-position: 0 -340px;
}
.class-elio {
    background-position: 0 -850px;
}
.class-hup {
    background-position: 0 -910px;
}
.class-ougi {
    background-position: 0 -965px;
}

.modal-75w{
    width: 75%;
    max-width: none !important;
}

.name-link {
    text-decoration: none;
}

.name-link:hover {
    text-decoration: underline;
}